@import 'tailwindcss';

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-4px);
  }
}

.animate-fade {
  animation: fadeInOut 4s ease-in-out;
}

/* Ocultar scrollbar pero permitir scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width: none;
  /* Firefox */
}